<!DOCTYPE html>
<html>
<head>
	<title>User Home Page</title>
	<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<body>
	Hello {{username}}! <br/> <br/>
	To type a message to another user, please enter the message here: <br/> <br/>
	<form action="/sendmessage">
		User to recieve message: <br/>
		<input type="text" name="username"> <br/>
		Message to be recieved: <br/>
		<input type="text" name="message"> <br/>
		<input type="submit"> <br/>
	</form> <br/> <br/>
	View your most recent message: <br/> <br/>
	{{ message }}<br/> <br/>

	Or if you want to logout click here:  
	<a href="/logout">this link</a>
</body>
</html>