<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<head>
	<title>Nathan and Brandon Tube Dot Com</title>
</head>
<body>
<center>
 <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
 <lambda style='font-size:80px'>our video site</lambda><br><br><br>
	<form action="/login" method="get">
		Username: <br/>
		<input type="text" name="username"> <br/>
		Password: <br/>
		<input type="text" name="password"> <br>
		<input type="submit">
	</form>
	Not having account? Happiness is located <a href="/register">here</a></center>
</body>
</html>