<!DOCTYPE html>
<html>
 <head>
<link rel="stylesheet" type="text/css" href="/static/style.css">
</head>
<head>
	<title>Make new user page</title>
</head>
<body>
<center>
<br><br><br><br><br><br><br>
	<lambda style='font-size:80px'>Please to make new user at page here: </lambda><br/>
	<form action="/makelogin" method="get">
		Desired Username: <br/>
		<input type="text" name="username"> <br/>
		Desired Password: <br/>
		<input type="text" name="password"> <br/>
		Repeat Desired Password: <br/>
		<input type="text" name="confirm"><br>
		<input type="submit">
	</form>
	</center>
</body>
</html>